<div class="col-form-label col-form-label-sm text-capitalize">{{ field?.placeholder }}</div>
<div [formGroup]="form">
    <div formArrayName="fields"  *ngFor="let item of form.get(field.name)['controls']; let i = index;">  
        <div [formGroupName]="i" class="form-group-name">
            <div class="row p-2">
                <div class="col-4">
                    <input formControlName="key" placeholder="Key" appTrim class="form-control" autocomplete="off" maxlength="20"/>
                    <app-show-errors [control]="item.controls.key"></app-show-errors>
                </div>
                <div class="col-7">
                    <input formControlName="value" placeholder="value" appTrim class="form-control" autocomplete="off" maxlength="255"/>
                    <app-show-errors [control]="item.controls.key"></app-show-errors>
                </div>
                <div class="col-1">
                    <button type="button" class="btn btn-sm" [ngClass]="islastFields(i) ? 'btn-success' : 'btn-danger'" (click)="addremoveFields(i)">
                    <i class="fa" [ngClass]="islastFields(i) ? 'fa-plus' : 'fa-minus'" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
</div>