<form class="p-2" [formGroup]="form" (submit)="submit()">
    <div class="form-group" *ngFor="let f of fields">
        <div [ngSwitch]="f.type">
            <app-text *ngSwitchCase="'text'" [field]="f" [form]="form"></app-text>
            <app-password *ngSwitchCase="'password'" [field]="f" [form]="form"></app-password>
            <app-select *ngSwitchCase="'select'" [field]="f" [form]="form"></app-select>
            <app-checkbox *ngSwitchCase="'checkbox'" [field]="f" [form]="form"></app-checkbox>
            <app-show-errors [control]="form.controls[f.name]"></app-show-errors>
        </div>
    </div>
    
    <div class="d-flex">
        <div class="mr-auto" *ngIf="button?.anchor?.href">
            <a class="text-info text-decoration-none" [routerLink]="button?.anchor?.href">
                {{ button?.anchor?.label | lowercase }}
            </a>
        </div>
        <div>
            <button class="btn btn-outline-success btn-sm text-capitalize cursor-not-allowed" [disabled]="!form.valid || spinnerStatus">
                <span *ngIf="spinnerStatus" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                {{ button?.button?.label }}
            </button>
        </div>
    </div>
</form>