<div class="input-group" [formGroup]="form">
    <div class="input-group-prepend">
        <div class="input-group-text">
            <i class="fa fa-{{ field.faIcon }}"></i>
        </div>
    </div>
    <input type="password" appTrim class="form-control form-control-sm" [formControlName]="field.name" autocomplete="off" [placeholder]="field.placeholder" />
    <div class="input-group-append cursor-pointer" (click)="togglePWD($event)">
        <div class="input-group-text">
            <i class="fa fa-eye"></i>
        </div>
    </div>
</div>