<div class="card w-25 mx-auto mt-5">
    <!-- display logo -->
    <div class="col d-none d-md-block my-4">
        <div class="logo logo-img"></div>
    </div>
    <div class="card-body">
        <!-- login form -->
        <app-dynamic-form-builder 
            [fields]="getFields()" 
            (submit)="submit($event)" 
            [spinnerStatus]="spinnerStatus">
        </app-dynamic-form-builder>

        <div class="mt-5">
            <a routerLink="/signup" 
                class="text-primary text-decoration-none">
                Don't have a account? Signup.
            </a>
        </div>
    </div>
</div>