<!-- login-form submit button -->
<div class="d-flex" [formGroup]="form">
    <div class="p-2" *ngIf="field?.sideLink?.anchor">
        <!-- check if have any side link -->
        <a 
            [routerLink]="field?.sideLink?.anchor" 
            class="text-info text-decoration-none">
            {{ field.sideLink.label }}
        </a>
    </div>
    <div class="ml-auto">
        <button            
            class="btn btn-sm text-capitalize btn-outline-primary"
            [ngClass]="this.disabled ? 'cursor-pointer' : 'cursor-disable'"
        [disabled]="!form.valid || spinnerStatus">
            <span 
                *ngIf="spinnerStatus" 
                class="spinner-border spinner-border-sm" 
                role="status" 
                aria-hidden="true">
            </span>
            {{ field.label }}
        </button>
    </div>
</div>