<div class="sidebar-heading logo logo-img pt-5 my-3"></div>
<div class="list-group list-group-flush">
    <a [routerLink]="getRoot()" class="list-group-item list-group-item-action bg-light">Dashboard</a>

    <!-- books -->
    <a class="cursor-pointer text-secondary collapsed list-group-item list-group-item-action bg-light"
        data-toggle="collapse" 
        data-target="#submenu1">
        <i class="fa fa-book" aria-hidden="true"></i>
        Books

        <!-- <span class="badge badge-default badge-pill">14</span> -->
        <i class="fa fa-angle-down float-right" aria-hidden="true"></i>
    </a>
    <div class="collapse" id="submenu1" aria-expanded="false">
        <ul class="flex-column pl-2 nav ml-3">
            <li class="nav-item">
                <a class="nav-link text-dark py-0" [routerLink]="getLink('books')">
                    <i class="fa fa-th-list" aria-hidden="true"></i>
                    List
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark py-0 text-link" [routerLink]="getLink('books/create')">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    Create
                </a>
            </li>
        </ul>
    </div>

    <!-- students -->
    <a [routerLink]="getLink('students')" class="list-group-item text-secondary list-group-item-action bg-light">
        <i class="fa fa-users" aria-hidden="true"></i>
        Students
    </a>

    <!-- 
    <a routerLink="" class="list-group-item list-group-item-action bg-light">Events</a>
    <a routerLink="" class="list-group-item list-group-item-action bg-light">Profile</a>
    <a routerLink="" class="list-group-item list-group-item-action bg-light">Status</a> -->
</div>