.progress-height {
    height: 2px;
}

.progress-bar.indeterminate {
    position: relative;
    animation: progress-indeterminate 2s linear infinite;
}
  
@keyframes progress-indeterminate {
    from { left: -25%; }
    to { left: 100%;}
}