<form class="p-2" [formGroup]="signupForm" (submit)="submit()">

    <!-- Email field -->
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <i class="fa fa-envelope"></i>
                </div>
            </div>
            <input appTrim
                class="form-control form-control-sm"
                formControlName="email"
                autocomplete="off"
                maxlength="191"
                placeholder="Email"
            />
        </div>
        <app-show-errors [control]="signupForm.controls.email"></app-show-errors>
    </div>


    <!-- password field -->
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <i class="fa fa-lock"></i>
                </div>
            </div>
            <input type="password" appTrim 
                class="form-control form-control-sm" 
                formControlName="password" 
                autocomplete="off"
                maxlength="191" 
                placeholder="Password" />

            <div class="input-group-append cursor-pointer" (click)="togglePWD($event)">
                <div class="input-group-text">
                    <i class="fa fa-eye"></i>
                </div>
            </div>
        </div>
        <app-show-errors [control]="signupForm.controls.password"></app-show-errors>
    </div>

    <!-- First-Name field -->
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <i class="fa fa-user"></i>
                </div>
            </div>
            <input appTrim
                class="form-control form-control-sm"
                formControlName="first_name"
                autocomplete="off"
                maxlength="50"
                placeholder="First Name"
            />
        </div>
        <app-show-errors [control]="signupForm.controls.first_name"></app-show-errors>
    </div>

    <!-- Last-Name field -->
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <i class="fa fa-user"></i>
                </div>
            </div>
            <input appTrim
                class="form-control form-control-sm"
                formControlName="last_name"
                autocomplete="off"
                maxlength="50"
                placeholder="First Name"
            />
        </div>
        <app-show-errors [control]="signupForm.controls.last_name"></app-show-errors>
    </div>

    <!-- Contact Number field -->
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <i class="fa fa-phone"></i>
                </div>
            </div>
            <input appTrim
                class="form-control form-control-sm"
                formControlName="contact_number"
                autocomplete="off"
                maxlength="10"
                appNumberOnly
                placeholder="Contact Number"
            />
        </div>
        <app-show-errors [control]="signupForm.controls.contact_number"></app-show-errors>
    </div>

    <!-- submit button -->
    <div class="d-flex">
        <div class="mr-auto">
            <a class="text-capitalize text-info text-decoration-none"
                routerLink="/auth">
                login?
            </a>
        </div>
        <div>
            <button 
                class="btn btn-outline-success btn-sm text-capitalize cursor-not-allowed" 
                [disabled]="!signupForm.valid || spinnerStatus">
                <span *ngIf="spinnerStatus" 
                    class="spinner-border spinner-border-sm" 
                    role="status" 
                    aria-hidden="true"></span>
                signup
            </button>
        </div>
    </div>
</form>