<div class="input-group" [formGroup]="form">
    <div class="input-group-prepend">
        <div class="input-group-text">
            <i class="fa fa-{{ field.faIcon }}"></i>
        </div>
    </div>
    <select appTrim
        class="form-control form-control-sm text-capitalize"
        [formControlName]="field.name"
        autocomplete="off">
        <!-- <option selected value="">Select</option> -->
        <option *ngFor="let option of field?.options"
            [value]="option" 
            class="text-capitalize"
            [selected]="option == field?.value">
            {{ option }}
        </option>
    </select>
</div>